.App {
  text-align: center;
}

body {
  background-color: rgb(65, 22, 101);
}

ul>li {
  list-style: none;
  background-color: rgb(76, 90, 91);
  color: white;
  height: 20px;
  width: 5rem;
  text-align: center;
  font-size: 14px;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  border-radius: 90%;
}

ul>li:hover {
  background-color: white;
  color: rgb(14, 116, 123);
  box-shadow: 1px 1px 2px -3px lightgray;
  font-weight: bolder;
  font-size: 14px;
}

ul {
  display: flex;
  gap: 10px;
}

.container {
  background-color: rgba(255, 255, 255, 0.563);
  margin-top: 6rem;
  width: 300px;
  height: 450px;
  text-align: center;
  margin: auto;
  align-items: center;
  top: 75px;
  display: inline-block;
  margin-top: 90px;
  box-shadow: 1px 1px 26px -6px;
  ;
}

.inner__cal__ui {
  margin: 0.5rem 9px;
  align-items: center;
  padding-top: 37px;
  margin-left: -28px;
}

p{
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: -10px;
  text-align: right;
  margin-right: 22px;
}

.lastBtn>li {
  width: 92px;
  border-radius: 40px;
}